:root{
    --primary-background: #222629;
    --primary-color: #61892F;
    --secondary-color: #86C232;
    --secondary-background: #474B4F;
    --text-color: #6B6E70;
}
*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
body{
    background-color: var(--primary-background);
}